*   {
    font-family:"fantasy";
    
}

article h1  {
    text-align:center;

}

article div {
    background-color:white;
}

main {
    background-color:white;
}

html    {
    background-color:aliceblue;
}

header img  {
    width:1000px;
    height:500px;
}